<div class="card comment-color">
	<%= link_to user_path(comment.user_id), class: "card-link " do %>
		<% if comment.user.image.attached? %>
			<%= image_tag(comment.user.image, class: "img-user") %>
		<% else %>
			<%= image_tag 'default-user.png', class: "img-user" %>
		<% end %>

		<%= comment.user.username %> comentou em <%= comment.created_at.strftime("%d/%m/%Y") %>
	<% end %>

	<div class="card-content">
		<%= comment.body %>
	</div>

	<% if comment.user.id == current_user.id %>
		<%= link_to '<button type="button" class="btn btn-danger">Apagar</button>'.html_safe, [comment.post, comment], method: :delete, data: { confirm: 'Tem certeza?' } %>
	<% end %>
</div>
	