<%= form_with(model: comment, url: post_comments_path(@post)) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12 form-group">
      <%= form.label :comentário %>
      <%= form.text_area :content, class: "form-control", rows: 3 %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-12">
      <div class="text-center">
        <%= form.submit 'Salvar', :class => 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
