<div class="row">
    <div class="col-sm-12">
        <h2 class="text-center"><%= @user.email%> - Seguidores</h2>

        <% @user.followers.reverse.each do |user_following| %>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><%= user_following.email %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Registrou-se em <%= user_following.created_at.strftime('%d/%m/%y') %> às <%= user_following.created_at.strftime('%H:%M:%S') %></h6>

                    <%= link_to 'Ver Perfil', user_path(user_following), :class => 'btn btn-secondary' %>
                </div>
            </div>
        <% end %>
    </div>
</div>