<div class="left-sidebar">
  <div class="p-3 bg-light">
    <div id="sidebar-header" class="mb-3 mt-3">
      <h2 class="text-center"><a class="link-normal text-decoration-none" href="/"><b>Microblog</b></a></h2>
    </div>

    <div id="user-login" class="mb-5">
      <% if user_signed_in? %>
        <div class="text-center">
          <%= link_to user_path(current_user), :class => 'link-normal text-decoration-none link-secondary' do %>
            <%= icon('fas', 'user', current_user.email) %>
          <% end %>

          <div class="mt-3">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'btn btn-secondary' %>
          </div>
        </div>
      <% else %>
        <div class="text-center">
          <%= link_to 'Login', new_user_session_path, :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>

    <div id="sidebar-pesquisa" class="mb-5">
      <h4 class="font-italic">Procurando algo?</h4>

      <form action="/posts" accept-charset="UTF-8" method="get">
        <div class="input-group">
          <input type="text" name="search" id="search" class="form-control">

          <div class="input-group-append">
            <button name="button" type="submit" class="btn btn-dark" value="search">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <div id="lista-usuarios">
      <div class="list-group-flush">
        <%= link_to users_path, :class => 'list-group-item list-group-item-action' do %>
          <%= icon('fas', 'users', "Todos os Usuários") %>
        <% end %>

        <%= link_to posts_path(:all => true), :class => 'list-group-item list-group-item-action' do %>
          <%= icon('fas', 'list', "Todos os Posts") %>
        <% end %>
      </div>
    </div>
  </div>
</div>