<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-12 form-group">
      <%= form.label :título %><br>
      <%= form.text_field :title, class: "form-control" %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-sm-12 form-group">
      <%= form.label :conteúdo %><br>
      <%= form.text_area :content, class: "form-control", rows: 8 %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-12">
      <div class="text-center">
        <%= form.submit 'Salvar', :class => 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>