<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">Posts</h1>

    <% if user_signed_in? %>
      <%= link_to 'Novo Post', new_post_path, :class => 'btn btn-success mb-3' %>
    <% end %>

    <% @posts.each do |post| %>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Criado por <%= link_to post.user.email, user_path(post.user), :class => 'link-normal text-decoration-none' %> em <%= post.created_at.strftime('%d/%m/%y') %> às <%= post.created_at.strftime('%H:%M:%S') %></h6>

          <p class="card-text"><%= simple_format post.content %></p>

          <%= link_to 'Ver Post', post_path(post), :class => 'btn btn-secondary' %>

          <% if user_signed_in? && post.user_id == current_user.id %>
            <%= link_to 'Editar Post', edit_post_path(post), :class => 'btn btn-primary' %>
            <%= link_to 'Excluir Post', post, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => 'btn btn-danger' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>